body
{
    color:azure;
    background-color: cyan;
}

.heading
{
    width:80%;
    font-size:22px;
}

#camera
{
    width:350px;
    height:350px;
    border:2px -dashed black;
}

.name_of_object, #result_object_name, #result_object_accuracy
{
    color: blue;
}